@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Roboto+Slab:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 3rem;
    margin-right: 3rem;
}
main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(185, 160, 126);
}
nav {
    color: wheat;
    background-color: black;
    text-align: center;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    display: flex;
    margin: 10px;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.section {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.subsection {
    padding: 5px;;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.wrapper {
    margin-left: 15rem;
    text-align: left;
}

.wrapper ul {
    display: inline-block;
}

#composers {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: black;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    flex-direction: row;
    justify-items: center;
}

.profilePic {
    margin: 1rem;
    color: white;
    padding: 5px;
}

.profileText {
    color: black;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    background-color:rgb(185, 160, 126);
    border-radius: 10px;
}

footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}