* {
    margin: 0;
    padding: 0;
}

body {
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    background-color: black;
    color: white;
    text-align: center;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li {
    display: flex;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

header ul {
    margin: 1rem 0 0 10rem;    
}


section div#composers {
    background-color: black;
    color: antiquewhite;
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

section div#composers h2{
    margin: 1rem 0 2.5rem 0;
}

section div#composers div.profile {
    margin: 1.5rem 0 0 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

section div#composers div.profile div.profilePic{
    display: flex;
    align-items: center;
}

section div#composers div.profile div.profilePic img{
    margin: 0 1.5rem 0 1.5rem;
    border-radius: 10px;
    width: 15rem;
}

section div#composers div.profile div.profileText {
    background-color: antiquewhite;
    margin: 0 1.5rem 0 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    color: black;
    text-align: justify;
    width: 28rem;
}

section div#composers div.profile div.videoWrapper {
    display: flex;
    margin: 0 1.5rem 0 1.5rem;
}

section div#composers div.profile div.videoWrapper iframe{
    width: 30rem;
}
footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}