@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
}

body {
    background-image: url("../img/War_flag_of_the_Imperial_Japanese_Army.svg");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.personagens {
    background-image: url("../img/hokusai_daiNami.jpg");
    background-repeat: no-repeat;
    background-size:  100%;
    background-position: top;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border-radius: 10px;
    margin: 2rem;
}

#p1 {
    background-color: cadetblue;
    position: fixed;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 60rem;
    margin-top: 
    3rem;
    border-radius: 10px;
}

#m1 {
    text-align: center;
}

#b1 {
    border-radius: 10px;
    height: 2rem;
    margin-top: 1rem;
}

.historinha{
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 20rem;
    width: auto;
    text-align: justify;
    font-size: small;
}